* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  max-width: 1024px;
  margin: 20px auto;
  padding: 20px 0;
  justify-content: center;
  box-shadow: 0 5px 18px #888;
  border-left: 10px solid hsl(0, 22%, 19%);
  background-color: rgba(0, 128, 128, 0.8);
  color: hsl(0, 22%, 19%);
  font-family: "Roboto", sans-serif;
}

.title {
  padding-top: 20px;
}

.column-left {
  text-align: end;
  padding-right: 30px;
  vertical-align: text-top;
  white-space: nowrap;
}

img {
  max-width: 100px;
  border-radius: 50%;
  box-shadow: 5px 5px 18px rgb(0, 75, 75);
}

td ul {
  list-style: none;
}
