@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
}

:root {
  --margin: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************** Mobile first **************************/
body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2 {
  margin: 20px 0 0px 10px;
}

h1 {
  margin: 20px 10px;
  text-align: center;
  background-color: rgb(75, 75, 211);
  color: whitesmoke;
  padding: 10px 20px;
}

h3 {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: rgb(75, 75, 211);
  color: whitesmoke;
  vertical-align: middle;
  line-height: 3em;
  padding: 0 5px;
}

p {
  padding: 5px 15px;
}

/* clearfix */
.grid-floats:after {
  content: "";
  display: block;
  clear: both;
}

.grid-item {
  list-style-type: none;
  margin: 20px var(--margin);
  background-color: #ededed;
  transition: box-shadow 0.5s, transform 0.2s;
}

.grid-item:hover {
  box-shadow: 0px 5px 10px #777;
  transform: scale(1.05);
}

.grid-item:nth-of-type(2) {
  text-align: right;
}

img {
  max-width: 100%;
  padding: 10px 0px;
  display: block;
  background-color: white;
}

/************************** Tablets **************************/
@media screen and (min-width: 600px) {
  h3 {
    height: 3em;
  }
  /* Float grid */
  .grid-floats {
    margin-left: var(--margin);
  }

  .grid-floats .grid-item {
    width: calc(33.3% - var(--margin));
    height: 490px;
    float: left;
    margin: 0 var(--margin) var(--margin) 0;
  }

  .grid-floats li:first-of-type,
  .grid-floats li:nth-of-type(2) {
    width: calc(50% - var(--margin));
  }

  /* Flex grid */
  section {
    clear: left;
  }
  .grid-flex {
    margin-left: var(--margin);
    display: flex;
    flex-wrap: wrap;
  }

  .grid-flex .grid-item {
    flex-basis: calc(33.3% - var(--margin));
    margin: 0 var(--margin) var(--margin) 0;
    min-width: 0;
  }

  .grid-flex .grid-item:first-child,
  .grid-flex .grid-item:nth-child(2) {
    flex-basis: calc(50% - var(--margin));
  }
}

/************************** Desktop **************************/
@media screen and (min-width: 1024px) {
  /* Float grid */
  .grid-floats .grid-item {
    width: calc(25% - var(--margin));
    height: 600px;
  }

  .grid-floats li:first-of-type {
    max-width: calc(50% - var(--margin));
  }

  .grid-floats li:nth-of-type(2) {
    max-width: calc(25% - var(--margin));
  }

  /* Flex grid */
  .grid-flex .grid-item:nth-child(2),
  .grid-flex .grid-item {
    flex-basis: calc(25% - var(--margin));
  }

  .grid-flex .grid-item:first-child {
    flex-basis: calc(50% - var(--margin));
  }
}
