@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************** Mobile first **************************/
body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2 {
  margin: 20px 0 0px 10px;
}

h1 {
  margin: 20px 10px;
  text-align: center;
  background-color: rgb(75, 75, 211);
  color: whitesmoke;
  padding: 10px 20px;
}

h3 {
  margin: 0px 0px;
  text-align: center;
  background-color: rgb(75, 75, 211);
  color: whitesmoke;
  vertical-align: middle;
  line-height: 3em;
  padding: 0 5px;
  overflow: scroll;
}

p {
  margin: 10px 0px;
  padding: 5px 15px;
}

/* clearfix */
.grid-floats:after {
  content: "";
  display: block;
  clear: both;
}

.grid-item {
  padding: 0px 0px;
  list-style-type: none;
  margin: 20px 1.15%;
  background-color: #ededed;
  transition: box-shadow 0.5s;
  transition: transform 0.2s;
}

.grid-item:hover {
  box-shadow: 0px 5px 10px #777;
  transform: scale(1.05);
}

.grid-item:nth-of-type(2) {
  text-align: right;
}

img {
  max-width: 100%;
  padding: 10px 0px;
  display: block;
  background-color: white;
}

/************************** Tablets **************************/
@media screen and (min-width: 600px) {
  h3 {
    height: 3em;
  }
  .grid-item {
    width: 31%;
    height: 490px;
  }

  /* Float grid */
  .grid-floats .grid-item {
    float: left;
  }

  .grid-floats li:first-of-type,
  .grid-floats li:nth-of-type(2) {
    width: 47.7%;
  }

  /* Flex grid */
  section {
    clear: left;
  }
  .grid-flex {
    display: flex;
    clear: left;
    flex-wrap: wrap;
  }
}

/************************** Desktop **************************/
@media screen and (min-width: 1024px) {
  .grid-item {
    width: 22.7%;
    height: 600px;
  }

  /* Float grid */
  .grid-floats li:first-of-type {
    max-width: 47.7%;
  }

  .grid-floats li:nth-of-type(2) {
    max-width: 22.7%;
  }
}
